.chatScreen_message{
    display: flex;
    align-items: center;
    padding: 20px;
}
.chatScreen_text{
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}
.chatScreen_timestamp{
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.chatScreen_textUser{
    margin-left: auto;
    background-color: #AA5ED2;
    padding: 15px;
    border-radius: 20px;
    color: white;

}

.chatScreen_input{
    
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 83%)

}
.chatScreen_inputField{
    font-size: 18px;
    flex: 1;
    padding: 3vh;
    border: none;
    background-color: hsla(0, 0%, 100%, 80%);
}
.chatScreen_inputButton{
    font-size: 18px;
    border: none;
    margin-right: 20px;
    background-color: white;
    font-weight: bolder;
    background-color: hsla(0, 0%, 100%, 80%);
    color: #b73dfe;
}