.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
    background-color: rgb(208, 208, 208, .5);
}
.header_logo {
    object-fit: contain;
    height: 30px;
}

.header_icon {
    padding: 20px;
}